.box{
    background: aqua;
    /* width: 40%;
    height: 200px;
    display: flex;
    justify-content: center;align-items: center;
    margin: 10px auto; */
    border: 2px solid black;
    padding: 100px;
}
.box2{
    background: rgb(44, 247, 78);
    border: 2px solid red;
}