.btn{
    padding: 8px;
    border: 1px solid #000;
    background: #ddd;
    border-radius: 8px;
}
.moviebox{
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    flex-wrap: wrap
}
.post-body{
    border: 1px solid #CCC;
    border-radius: 10px;
    margin: 16px;
    padding: 8px;
}
.compost{
    border: 1px solid red;
    margin: 8px;
    padding: 4px;
    border-radius: 4px;

    text-align: center;
}